.container {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.headerItem {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.created {
  color: var(--blue);
}

.done {
  color: var(--purple);
}

.counter {
  background: var(--gray-400);
  border-radius: 90px;
  padding: 2px 8px;
  line-height: 15px;
  font-size: 0.75rem;
  margin-left: 4px;
}
